<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="og:image" content="/og-image.jpg">
    <link rel="icon" href="/icon.png">
    <title>Bạn có tin nhắn 💌 Nhấn để đọc nhé!!!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/view/style.css">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const images = document.querySelectorAll('.item')
            images.forEach(image => {
                new IntersectionObserver((entries, observe) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            const img = entry.target
                            const dataSrc = img.getAttribute('data-src')
                            img.style.backgroundImage = `url(${dataSrc})`
                            img.removeAttribute('data-src')
                            observe.disconnect()
                        }
                    })
                }).observe(image)
            })
        })
    </script>
</head>

<body>

    <div class="loading">
        <div class="back"></div>
        <div class="heart"></div>
    </div>

    <div class="card-bg hide"></div>

    <div class="load hide">
        <h2>
            <%= data['load-title'] %>
        </h2>
        <canvas id="load-heart"></canvas>
        <div class="percent">
            <span></span>
        </div>
    </div>


    <div class="card hide">
        <div class="title">
            <%= data['card-title'] %>
        </div>
        <div class="sub-title">
            <%= data['card-subtitle'] %>
        </div>
        <div class="heart">
            <div class="item" data-src="<%= data['img1'] %>"></div>
            <div class="item" data-src="<%= data['img2'] %>"></div>
            <div class="item" data-src="<%= data['img3'] %>"></div>
            <div class="item" data-src="<%= data['img4'] %>"></div>
            <div class="item" data-src="<%= data['img5'] %>"></div>
            <div class="item" data-src="<%= data['img6'] %>"></div>
            <div class="item" data-src="<%= data['img7'] %>"></div>
            <div class="item" data-src="<%= data['img8'] %>"></div>
            <div class="item" data-src="<%= data['img9'] %>"></div>
            <div class="item" data-src="<%= data['img10'] %>"></div>
            <div class="item" data-src="<%= data['img11'] %>"></div>
            <div class="item" data-src="<%= data['img12'] %>"></div>
            <div class="item" data-src="<%= data['img13'] %>"></div>
            <div class="item" data-src="<%= data['img14'] %>"></div>
        </div>
        <div class="bottom-title">
            <%= data['bottom-title'] %>
        </div>
        <div class="sub-bottom-title">
            <%= data['bottom-subtitle'] %>
        </div>
        <div class="next">
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <div class="card2 hide">
        <div class="title">
            <%= data['card2-title'] %><i class="fa-solid fa-heart"
                    style="color: #f00; font-size: 50px; transform: rotate(36deg); margin-left: 5px;"></i>
        </div>
        <div class="content">
            <%= data['card2-content'] %>
        </div>
        <span class="signature">_<%= data['card2-signature'] %>_</span>
        <img src="/view/images/love-heart.png" style="position: absolute; width: 100px; top: 10px; left: 10px;">
        <div class="next">
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="pre">
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </div>

    <div class="card3 hide">
        <img src="/view/images/love-letter.png" style="position: absolute; height: 100px; top: -20px; left: 50px;"
            alt="">
        <div class="title">
            <%= data['card3-title'] %>
        </div>
        <div class="content">
            <%= data['card3-content'] %>
        </div>
        <textarea id="message" cols="30" rows="5" placeholder="Nhập vào đây nà..."></textarea>
        <span>Kí tên: <input type="text" id="message-signature"></span>
        <div id="send">
            <%= data['card3-send'] %>
        </div>
        <div class="pre">
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-up"></i>
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </div>

    <audio id="music" src="<%= data['music'] %>"></audio>

    <div class="fbid" style="display: none;" data--fbid="<%= data['fbid'] %>"></div>
    <div class="id" style="display: none;" data--id="<%= data['id'] %>"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/view/script.js"></script>

</body>

</html>
